@-moz-document domain("discordapp.com") {
/************/
/* Channels */
/************/

    div[class^="channels-"] {
        width: 7%;
        min-width: 0;
        height: 100%;
        position: absolute;
        left: 70px;
        z-index: 1;
        background: 0;
    }

    div[class^="channels-"] > div{
    /*     display: none; */
        width: 0;
        transition: width 250ms;
        transition-delay: 750ms;
    }

    div[class^="channels-"] > div:nth-child(2){
        padding: 0;
        overflow-x: hidden;
    }

    div[class^="channels-"] > div[class^="container-"],
    div[class^="channels-"] > div[class="private-channels"],
	div.channel-members-wrap > div[class^="scrollerWrap-"]
    {
        background: #2F3136;
    }

    div[class^="channels-"] > div > .avatar-small{
        margin-left: 10px;
    }

    div[class^="channels-"] > div > div[class^="horizontal-"]{
        margin-right: 10px;
    }

    /* Channels - hover events */
    div[class^="channels-"]:hover {
    	width: 270px;
    }

    div[class^="channels-"]:hover > div{
        width: 270px;
    }

    /*******************/
    /* Channel members */
    /*******************/
    div[class^="channel-members-"]{
     	width: 7%;
        min-width: 0;
        height: 100%;
        position: absolute;
        right: 0;
    }

    div[class^="channel-members-"] > div{
        display: block;
        left: 240px;
        transition: left 250ms;
    /*     transition-delay: 750ms; */
    }

    /* Channel members - hover events */
    div[class^="channel-members-"]:hover {
        width: 240px;
        overflow-y: scroll;
    }

    div[class^="channel-members-"]::-webkit-scrollbar {
        display: none;
    }

    div[class^="channel-members-"]:hover > div{
        left: 0;
    }

    /* Hide the download apps button*/
    .guilds-wrapper button.btn-download-apps {
        display: none;
    }
}
